<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="consultaDocumentosPeruSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="consultaDocumentosPeruSoap1" />
                <binding name="WssCargaBajasSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WssCargaBajasSoap1" />
                <binding name="Service1Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="Service1Soap1" />
                <binding name="OnlineSoap11Binding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="OnlineSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://pruebas.ecomprobantes.pe/wssConsultaDocPeru/consultaDocumentosPeru.asmx"
                binding="basicHttpBinding" bindingConfiguration="consultaDocumentosPeruSoap"
                contract="IntegradorEstelaAdjunto.consultaDocumentosPeruSoap"
                name="consultaDocumentosPeruSoap" />
            <endpoint address="https://pruebas.ecomprobantes.pe/wssCargaBajas/cargaBajas.asmx"
                binding="basicHttpBinding" bindingConfiguration="WssCargaBajasSoap"
                contract="IntegradorEstelaBaja.WssCargaBajasSoap" name="WssCargaBajasSoap" />
            <endpoint address="https://pruebas.ecomprobantes.pe/wssConsultaEstado/ConsultaEstado.asmx"
                binding="basicHttpBinding" bindingConfiguration="Service1Soap"
                contract="IntegradorEstelaEstado.Service1Soap" name="Service1Soap" />
            <endpoint address="http://asp4uat2.paperless.com.pe/axis2/services/Online.OnlineHttpSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="OnlineSoap11Binding"
                contract="IntegradorPaperless.OnlinePortType" name="OnlineHttpSoap11Endpoint" />
            <endpoint address="http://asp4uat2.paperless.com.pe/axis2/services/Online.OnlineHttpSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="OnlineSoap12Binding"
                contract="IntegradorPaperless.OnlinePortType" name="OnlineHttpSoap12Endpoint" />
        </client>
    </system.serviceModel>
</configuration>